# Dependências
node_modules/
dist/
build/

# Arquivos de configuração gerados
*.config.js
*.config.ts.temporary.compiled.*

# Arquivos de ambiente
.env*

# Logs
*.log

# Coverage
coverage/

# Arquivos temporários
.tmp/
.cache/

# Arquivos do sistema
.DS_Store
Thumbs.db